$main-color: steelblue;
$main-color-txt: white;

.main-title {
 background-color: $main-color;
 color: $main-color-txt;
 font-weight: 500;
}

img {
  display: block;
  width: 10rem;
}

.student-list {
  list-style: none;
}